<div id="form">
    <header>
        <h1>Art-Books</h1>
        <nav>
            <%=link_to "Home", root_path %>
            <%=link_to "back", arts_path %>
        </nav>
    </header>
    <%= render :partial => 'form' %>
</div>